{
  "presets": [
    "@babel/react",
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    "@babel/preset-es2017",
    "@babel/preset-stage-0"
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "@babel/runtime"
      }
    ]
  ]
}
